<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="view-transition" content="same-origin" />
        <title>{% block title %}TargetAdds Assignment{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body id="{% block body_id %}{% endblock %}">
    {% block header %}
    {{ include('partials/header.html.twig') }}
    {% endblock %}
    <div class="container body-container">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-9">
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
    {% block footer %}
    {{ include('partials/footer.html.twig') }}
    {% endblock %}
    </body>
</html>
